.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
push
MNIST_data
build
*.egg-info
dist
model_log

GoogleNews-vectors-negative300.bin
stanfordSentimentTreebank
LSTM_Encoder
data

